/*******************************************************************************
 * Layout
 ******************************************************************************/
.view-id-callout table {
  margin: 0;
  width: 100%;
}

.view-id-callout td {
  overflow: hidden;
  vertical-align: top;
  padding: 0;
  padding-right: 10px;
}

.view-id-callout td.col-last {
  padding-right: 0;
}

.view-id-callout .node {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#block-views-callout-block,
#block-views-callout-block-1,
#block-views-callout-block-2,
#block-views-callout-block-3 {
  margin: 0;
}

#block-views-callout-block .contextual-links-wrapper,
#block-views-callout-block-1 .contextual-links-wrapper,
#block-views-callout-block-2 .contextual-links-wrapper,
#block-views-callout-block-3 .contextual-links-wrapper {
  display: block;
  margin-right: -20px;
}

#block-views-callout-block .node .contextual-links-wrapper,
#block-views-callout-block-1 .node .contextual-links-wrapper,
#block-views-callout-block-2 .node .contextual-links-wrapper,
#block-views-callout-block-3 .node .contextual-links-wrapper {
  margin-right: 0;
}
@media all and (max-width: 740px) {

  #block-views-callout-block .view-id-callout td,
  #block-views-callout-block-1 .view-id-callout td,
  #block-views-callout-block-2 .view-id-callout td,
  #block-views-callout-block-3 .view-id-callout td {
    display: block;
    width: 100%;
    padding: 0;
  }
}

#block-views-callout-block-2 .contextual-links-wrapper,
#block-views-callout-block-3 .contextual-links-wrapper {
  margin-top: -10px;
}

#block-views-callout-block-2 .node .contextual-links-wrapper,
#block-views-callout-block-3 .node .contextual-links-wrapper {
  margin-top: 0;
}
@media all and (min-width: 740px) {
  #block-views-callout-block-2 .node,
  #block-views-callout-block-3 .node {
    margin-top: 0;
  }
}
@media all and (max-width: 740px) {
  #block-views-callout-block-2 .row-1 .col-1 .node,
  #block-views-callout-block-3 .row-1 .col-1 .node {
    margin-top: 0;
  }
}

#block-views-callout-block-2 td {
  width: 33%;
}

#block-views-callout-block-3 td {
  width: 20%;
}

#block-views-callout-block-2 .row-2,
#block-views-callout-block-3 .row-2 {
  padding-right: 10px;
  padding-left: 10px;
}

#block-views-callout-block-1 td {
  width: 50%;
}

#block-views-callout-block-1 .row-1 {
  padding-right: 10px;
}

#block-views-callout-block td.col-first {
  padding-right: 0;
}

/*******************************************************************************
 * Elements
 ******************************************************************************/
.view-id-callout h2.node-title {
  margin-top: 0;
  margin-bottom: .5em;
}


/*******************************************************************************
 * Unimelb
 ******************************************************************************/
.view-callout table tbody tr{
  background: none;
  border: none;
}

.view-callout table tbody tr td {
  display: table-cell;
}

.view-callout .field-name-title-field{
  font-size: $h3-font-size;
  font-weight: bold;
}

.view-callout .field-name-title-field span.ext{
  display: none;
}

.view-callout .field-name-body ul{
  margin: 0;
}


